// ======================================================
// Abstracts :: Variables
// ======================================================

/* Colors */
$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #d9d9d9;
$color-default: $color-primary;
$color-header: $color-secondary;
$color-placeholder: #e6e6e6;
$color-disabled: #aaa;
$color-button: #333;
$color-filter: #58667e;

/* Background Colors */
$bg-color-primary: #f8fafd;
$bg-color-secondary: $color-secondary;
$bg-color-filter-seleted: #f8fafd;

/* Background Size */
$bg-size-primary: 16px;
$bg-size-secondary: 10px;

/* Border Colors */
$border-main: $color-placeholder;
$border-modal: #dfe0eb;
$border-form: #ccc;
$border-input: #e3e6eb;
$border-display-grid: rgba(196, 196, 196, 0.23);

/* Font-Family */
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;
$font-tertiary: 'Dancing Script', cursive;
$default-family: $font-primary;
$secondary-family: $font-secondary;
$tertiary-family: $font-tertiary;

/* Font-Size */
$text-small: 11px;
$text-medium: 13px;
$text-large: 18px;

/* Font-Weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Body */
$text-color-body: $color-default;
$text-size-body: $text-medium;
$font-weight-body: $font-weight-regular;
$font-family-body: $default-family;

/* Header */
$text-slogan: $text-large;
$text-slogan-medium: 24px;
$text-profile: 18px;
$line-height-profile: 22px;

/* Input */
$text-input-small: 12px;
$text-input-medium: 14px;
$text-input-large: 16px;
$color-btn-secondary: $color-button;

/* Buttons */
$text-button-small: 12px;
$text-button-medium: 14px;
$text-button-large: 16px;
$color-btn-secondary: $color-button;
$bg-color-btn-primary: #1ea7fd;

/* Buttons */
$filter-button-color: $color-filter;

/* Width */
$page-max-width: 1260px;

/* Breakpoints */
$medium: 768px;
$large: 1200px;
