// ======================================================
// Abstracts :: Variables
// ======================================================

/* Colors */
$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #d9d9d9;
$color-default: $color-primary;
$color-header: $color-secondary;
$color-placeholder: #e6e6e6;
$color-info: #5bc0de;
$color-disabled: #aaa;
$color-button: #333;
$color-filter: #58667e;
$color-warning: #eea236;
$color-danger: #dc3545;

/* Background Colors */
$bg-color-primary: #f8fafd;
$bg-color-secondary: $color-secondary;
$bg-color-filter-seleted: $bg-color-primary;

/* Background Size */
$bg-size-primary: 16px;
$bg-size-secondary: 10px;

/* Border Colors */
$border-header: #e3e6eb;
$border-main: $color-placeholder;
$border-input: $border-header;
$border-sidebar: $border-header;
$border-display-grid: rgba(196, 196, 196, 0.23);

/* Box-Shadow */
$box-shadow-color: rgba(0, 0, 0, 0.15);

/* Font-Family */
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;
$font-tertiary: 'Dancing Script', cursive;
$default-family: $font-primary;
$secondary-family: $font-secondary;
$tertiary-family: $font-tertiary;

/* Font-Size */
$text-small: 11px;
$text-medium: 13px;
$text-large: 18px;

/* Font-Weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Body */
$text-color-body: $color-default;
$bg-color-body: #e5e5e5;
$text-size-body: $text-medium;
$font-weight-body: $font-weight-regular;
$font-family-body: $default-family;

/* Header */
$text-slogan: $text-large;
$text-slogan-medium: 24px;
$text-profile: 18px;
$line-height-profile: 22px;

/* Logo */
$text-logo: 36px;
$line-height-logo: 43px;

/* Input */
$text-input-small: 12px;
$text-input-medium: 14px;
$text-input-large: 16px;
$width-search: 670px;

/* Buttons */
$text-button-small: 12px;
$text-button-medium: 14px;
$text-button-large: 16px;
$color-btn-primary: #1ea7fa;
$color-btn-secondary: $color-button;
$bg-color-btn-primary: #1ea7fa;
$bg-color-btn-secondary: $bg-color-secondary;
$filter-button-color: $color-filter;
$height-button-sunshine: 24px;

/* Columns */
$column-sidebar: 268px;
$column-content: calc(100% - 268px);

/* Card */
$text-card-title: $text-large;
$text-card-title-list: $text-logo;
$text-card-author-list: $text-large;
$line-height-card-title-list: 42px;
$line-height-card-author-list: 24px;
$img-card-width: 353px;
$img-card-height: 144px;
$color-card-author: #757881;
$font-family-card-author: $secondary-family;
$font-weight-card-author: $font-weight-medium;
$box-shadow-card-box: rgba(0, 0, 0, 0.1);

/* Book */
$text-book-title: 14px;
$text-book-results: 15px;
$color-book-title: #0d75ff;
$color-book-results: #222531;
$bg-color-book-title: rgba(13, 117, 255, 0.05);

/* Category */
$text-category-title: $text-large;
$text-category-list: 14px;
$text-category-shorthand: 16px;
$color-category-item: #222531;
$color-category-total: $color-filter;
$text-category-total: 12px;
$bg-color-category-All: #14282f;
$bg-color-category-Adventure: #ff6231;
$bg-color-category-Contemporary: #0da8ff;
$bg-color-category-Romance: #f388b5;
$bg-color-category-Fantasy: #770dff;
$bg-color-category-Dystopian: #4f85ac;
$bg-color-category-Mystery: #14282f;
$bg-color-category-Horror: #f1121f;
$bg-color-category-Thriller: #0d8bff;
$bg-color-category-Paranormal: #ffd80d;
$bg-color-category-Historical: #75828a;
$bg-color-category-Scifi: #6f5a8a;
$bg-color-category-Memoir: #94aae4;
$bg-color-category-Sports: #b4bebf;

/* Filter */
$text-filter-title: 15px;
$text-filter-display: $text-small;
$text-filter-sort: $text-medium;
$color-filter-title: $color-default;
$color-filter-sort-selected: #0d75ff;
$border-filter-button: rgba(227, 230, 235, 0.23);
$box-shadow-color-filter: $box-shadow-card-box;

/* Error */
$color-error: $color-danger;
$text-error: $text-large;
$icon-size-error: 24px;

/* Modal */
$text-modal-message: $text-medium;
$text-modal-title: 24px;
$color-modal-text: #58667e;
$text-modal-text: 14px;
$color-modal-text-title: #222531;
$color-modal-text-content: #0d75ff;
$bg-color-modal-text-content: rgba(13, 117, 255, 0.09);
$color-modal-btn-escape: #a6b0c3;
$bg-color-dark-mode: rgb(204, 204, 204);
$line-height-modal-footer: 16px;
$text-modal-validate: 12px;
$text-modal-close: $text-large;
$width-modal-mobile: 314px;
$width-modal-desktop: 485px;
$bg-color-header-modal: $bg-color-primary;

/* Width */
$page-max-width: 1260px;

/* Breakpoints */
$medium: 768px;
$large: 1200px;
