// ======================================================
// Base :: Global
// ======================================================
html,
body {
  @extend %padding-0;
  @extend %margin-0;
}

body {
  @extend %padding-0;
  @extend %margin-0;
  font: $font-weight-body $text-size-body $font-family-body;
  color: $text-color-body;
  background-color: $bg-color-tertiary;
  line-height: 20px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react {
    &:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img {
  max-width: 100%;
}

.main {
	@extend %relative;
  @extend %margin-center;
  max-width: $page-max-width;
  font-family: $secondary-family;
}

.landing {
	@extend %relative;
  @extend %margin-center;
  @extend %z-index-0;
  padding: 23px 50px;
  max-width: 1340px;

  @media screen and (max-width: 1440px) {
    padding: 25px;
  }
}

:focus {
	outline: 0;
}

.hidden {
	@extend %none;
}

.visible {
	@extend %flex;
}
