// ======================================================
// Base :: Fonts
// ======================================================

/* Dancing Script Font */
@font-face {
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/dancing-script/DancingScript-Regular.ttf') format('truetype');
}

/* Noto Sans Font */
@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/noto-sans/NotoSans-Medium.ttf') format('truetype');
}

/* Rubik Font */
@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/rubik/Rubik-Bold.ttf') format('truetype');
}
