// ======================================================
// Components :: Text
// ======================================================

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.text {
  &-sm {
    @include text-font($default-family, $text-sm, $font-weight-regular, $line-height-default);
    color: $color-tertiary;
  }

  &-md {
    @include text-font($default-family, $text-md, $font-weight-regular, $line-height-default);
    color: $color-tertiary;
  }

  &-lg {
    @include text-font($default-family, $text-lg, $font-weight-regular, $line-height-default);
    color: $color-primary;
  }

  &-xl {
    @include text-font($default-family, $text-xl, $font-weight-bold, $line-height-default);
  }

  &-xxl {
    @include text-font($default-family, $text-xxl, $font-weight-bold, $line-height-default);
  }

  &-xxxl {
    @include text-font($default-family, $text-xxxl, $font-weight-bold, $line-height-default);
    color: $color-primary;
  }
}