// ======================================================
// Components :: Header
// ======================================================

.header {
  &-site {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
    @extend %margin-center;
  }

  &-left,
  &-right,
  &-menu {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
  }

  &-menu {
    @include only-for-desktop() {
      display: none;
    }
  }
}

/* Logo */
.logo {
  @extend %flex;
  @extend %item-center;

  .img-item {
    @include only-for-tablet() {
      width: 40px;
      height: 44px;
    }
  }

  &-text {
    @include text-font($font-family-logo, $text-size-logo, $font-weight-logo, $line-height-logo);
    @extend %inline-flex;
    color: $color-primary;
    -webkit-text-stroke: 1px $border-logo;
    margin-left: 15px;

    @include only-for-tablet() {
      font-size: $text-size-logo-tablet;
      font-weight: $font-weight-logo-tablet;
      line-height: $line-height-logo-tablet;
    }
  }

  &-dot {
    color: $color-logo-dot;
    -webkit-text-stroke: 1px $border-logo;
  }
}

/* Navigation */
.navigation,
.user-form {
  @extend %flex;
  @extend %item-center;
  @extend %list-style-type-none;

  .link-label {
    @extend %text-capitalize;

    @include only-for-desktop() {
      margin: 0 25px;
    }
  }
}

.site-navigation {
  @extend %none;
  @extend %item-center;
  @extend %list-style-type-none;

  @include only-for-tablet() {
    display: flex;
  }
}

.user-form {
  .link-label {
    @include only-for-desktop() {
      margin-right: 32px;
    }
  }
}