// ======================================================
// Components :: Notification Feature
// ======================================================

.notification {
  @extend %relative;
  @extend %flex;
  @extend %justify-space-between;
  @extend %flex-column;
  @extend %item-center;
  margin: 40px 0;
  width: 100%;

  @include only-for-tablet() {
    margin: 150px 0;
    flex-direction: row;
  }

  &-typography {
    @include only-for-tablet() {
      width: 30%;
    }
  }

  &-title {
    @include text-font($default-family, $text-xs, $font-weight-extra-bold, $line-height-title);
    @extend %text-uppercase;
    color: $color-title;
    margin-bottom: 10px;
    letter-spacing: 1.5px;

    @include only-for-tablet() {
      margin-bottom: 24px;
    }
  }

  &-image {
    @extend %text-center;
    width: 120%;

    @include only-for-tablet() {
      position: absolute;
      right: -20px;
      width: 100%;
    }

    @include only-for-desktop() {
      right: -150px;
      width: 75%;
    }
  }

  .img-item {
    @include only-for-tablet() {
      width: 600px;
    }

    @include only-for-desktop() {
      width: 878px;
    }
  }
}