// ======================================================
// Components :: Button
// ======================================================

.btn {
  @extend %flex;
  @extend %cursor-pointer;
  @extend %border-0;
  font-family: $default-family;
  font-weight: $font-weight-regular;
  border-radius: 30px;
  padding: 10px 20px;
  line-height: 1;

  &-primary {
    color: $color-secondary;
    background-color: $bg-color-btn-primary;
  }

  &-secondary {
    @extend %bg-transparent;
    color: $color-btn-secondary;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  &-small {
    font-size: $text-button-small;
    padding: 10px 16px;
  }

  &-medium {
    font-size: $text-button-medium;
    padding: 11px 19px;
  }

  &-large {
    font-size: $text-button-large;
    padding: 12px 24px;
  }

  &-filter {
    background: url('./src/assets/images/filter.svg') 16px no-repeat;
    background-color: $bg-color-primary;
    color: $filter-button-color;
    border: 1px solid $border-input;
    margin: 10px 0px;
    padding: 14px 28px 14px 55px;
    box-sizing: border-box;
  }

  &-display {
    &-grid {
      @include square(40px);
      border-radius: 50%;
      background: url('./src/assets/images/grid.svg') 14px no-repeat;
      background-color: $bg-color-secondary;
      color: $filter-button-color;
      border: 1px solid $border-display-grid;
      margin: 10px 0px;
      box-sizing: border-box;

      &.selected {
        background: url('./src/assets/images/grid-selected.svg') 14px no-repeat;
        background-color: $bg-color-filter-seleted;
        border: 1px solid transparent;
      }
    }

    &-list {
      @include square(40px);
      border-radius: 50%;
      background: url('./src/assets/images/list.svg') 13px no-repeat;
      background-color: $bg-color-secondary;
      color: $filter-button-color;
      border: 1px solid $border-display-grid;
      margin: 10px 0px;
      box-sizing: border-box;

      &.selected {
        background: url('./src/assets/images/list-selected.svg') 13px no-repeat;
        background-color: $bg-color-filter-seleted;
        border: 1px solid transparent;
      }
    }
  }

  &-sort {
    background: url('./src/assets/images/arrow-down.svg') 90% no-repeat;
    background-color: $bg-color-secondary;
    color: $color-primary;
    border: 1px solid $border-display-grid;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 15px 40px 15px 15px;
    box-sizing: border-box;

    &.selected {
      background: url('./src/assets/images/arrow-down-selected.svg') 13px no-repeat;
      background-color: $bg-color-filter-seleted;
      border: 1px solid transparent;
    }
  }
}
