// ======================================================
// Components :: Image
// ======================================================

.img {
  &-item {
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
