// ======================================================
// Components :: Input
// ======================================================

.input {
  @extend %flex;
  @extend %flex-column;
  border: 1px solid $border-input;
  margin: 10px 0px;
  padding: 18px;
  background-color: $bg-color-secondary;
  box-sizing: border-box;
  width: 100%;

  &-search {
    background: url('./src/assets/images/search.svg') 14px no-repeat;
    background-color: $bg-color-primary;
    padding-left: 50px;
    border-radius: 30px;
  }

  &-default {
    border-radius: 10px;
  }
}
