// ======================================================
// Layout :: Header
// ======================================================

.header {
  &-site {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
    @extend %margin-center;
    background-color: $bg-color-secondary;
    border-radius: 10px 10px 0 0;
    padding: 10px 25px 10px 20px;

    .img-item {
      border-radius: 0;
    }

    @include only-for-desktop() {
      padding: 8px 40px 8px 50px;
    }

    &.open {
      + .main-site {
        .column-sidebar {
          @extend %block;
          @extend %absolute;
          @extend %z-index-1;
          top: 0;
        }
      }
    }
  }

  &-left {
    @extend %flex;
    @extend %item-center;
  }

  &-toogle {
    .btn-container {
      @extend %inline-flex;
    }

    @include only-for-desktop() {
      display: none;
    }
  }

  &-logo {
    .img-container {
      @extend %inline-flex;
    }
  }

  &-right {
    @extend %flex;
    @extend %item-center;
  }
}
