// ======================================================
// Layout :: Header
// ======================================================

.header {
  &__page {
    @extend %relative;
    @extend %margin-center;
    @extend %z-index-1;
    padding: 54px 25px 34px;
    background-color: $bg-color-primary;
    max-width: 1390px;
  }

  &__wrapper {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
    padding: 0 25px;
  }

  &__slogan,
  &__profile {
    @extend %text-uppercase;
    color: $color-secondary;
  }

  &__slogan {
    font-size: $text-slogan;
    line-height: 38px;
  }

  &__profile {
    @extend %flex;
    @extend %item-center;
    font-size: $text-profile;
    line-height: 22px;
  }

  &__name {
    max-width: 100px;
    text-align: right;
    margin-right: 20px;
  }

  &__avatar {
    width: 60px;
    aspect-ratio: 1 / 1;
  }
}

.main {
  &__nav {
    @extend %text-left;
    @extend %flex;
    @extend %justify-center;
    margin-top: 48px;
  }
}
