// ======================================================
// Layout :: Header
// ======================================================

.header {
  &-site {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
    @extend %margin-center;
    background-color: $bg-color-secondary;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $border-header;
    padding: 10px 25px 10px 20px;

    .img-item {
      border-radius: 0;
    }

    @include only-for-desktop() {
      padding: 12px 40px 12px 50px;
    }
  }

  &-right {
    @extend %flex;
    @extend %item-center;
  }
}
