// ======================================================
// Abstracts :: Variables
// ======================================================

/* Colors */
$color-primary: #272E35;
$color-secondary: #FFFFFF;
$color-tertiary: #6E757C;
$color-default: $color-primary;
$color-logo-dot: #FF6E30;
$color-loading: $color-logo-dot;
$color-danger: #DC3545;

/* Background Colors */
$bg-color-primary: $color-logo-dot;

/* Background Size */

/* Border Colors */
$border-logo: #000;
$border-disabled: rgba(196, 196, 196, 0.3);

/* Box-Shadow */

/* Font-Family */
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-tertiary: 'Robert', sans-serif;
$default-family: $font-primary;
$secondary-family: $font-secondary;
$tertiary-family: $font-tertiary;

/* Font-Size */
$text-xs: 12px;
$text-sm: 13px;
$text-md: 16px;
$text-lg: 20px;
$text-lg-tablet: 24px;
$text-lg-desktop: 32px;
$text-xl: $text-lg-desktop;
$text-xl-tablet: 40px;
$text-xl-desktop: 48px;
$text-xxl: $text-xl-tablet;
$text-xxl-tablet: $text-xl-desktop;
$text-xxl-desktop: 72px;
$text-xxxl: 56px;
$text-xxxl-tablet: $text-xxl-desktop;

/* Font-Weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* Line Height */
$line-height-default: $text-lg-tablet;
$line-height-lg: $line-height-default;
$line-height-lg-tablet: $text-lg-desktop;
$line-height-lg-desktop: $text-xl-tablet;
$line-height-xl: $line-height-lg-desktop;
$line-height-xl-tablet: $text-xl-desktop;
$line-height-xl-desktop: $text-xxxl;
$line-height-xxl: $line-height-xl-tablet;
$line-height-xxl-tablet: $line-height-xl-desktop;
$line-height-xxl-desktop: 80px;
$line-height-xxxl: $line-height-xxl-desktop;
$line-height-xxxl-tablet: $line-height-xxl-desktop;

/* Spacing */

/* Body */
$font-family-body: $default-family;
$text-size-body: $text-md;
$font-weight-body: $font-weight-regular;
$line-height-body: 24px;
$text-color-body: $color-default;
$bg-color-body: #EEEFF2;

/* Header */

/* Logo */
$font-family-logo: $default-family;
$text-size-logo: 30px;
$text-size-logo-tablet: 36px;
$font-weight-logo: $font-weight-extra-bold;
$font-weight-logo-tablet: $font-weight-bold;
$line-height-logo: 33px;
$line-height-logo-tablet: 40px;

/* Input */

/* Buttons */
$color-btn-primary: $color-secondary;
$color-btn-secondary: $color-default;
$bg-color-btn-primary: $bg-color-primary;
$bg-color-btn-secondary: transparent;
$line-height-btn-primary: 24px;

/* Testimonial */

/* Hero */

/* Schedule */

/* Instant Setup */

/* Amazing Feature */

/* History */

/* Core Value */

/* Integration */

/* Launch App */

/* Save Time */

/* Call To Action */

/* Footer */

/* Width */
$page-max-width: 1440px;

/* Breakpoints */
$small: 375px;
$medium: 768px;
$large: 1200px;
