// ======================================================
// Abstracts :: Variables
// ======================================================

/* Colors */
$color-primary: #272E35;
$color-secondary: #FFFFFF;
$color-tertiary: #6E757C;
$color-default: $color-primary;

/* Background Colors */

/* Background Size */

/* Border Colors */

/* Box-Shadow */

/* Font-Family */
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$default-family: $font-primary;
$secondary-family: $font-secondary;

/* Font-Size */
$text-xs: 12px;
$text-sm: 13px;
$text-md: 16px;
$text-lg: 24px;
$text-xl: 32px;
$text-xxl: 48px;
$text-xxxl: 72px;

/* Font-Weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* Body */
$font-family-body: $default-family;
$text-size-body: $text-md;
$font-weight-body: $font-weight-regular;
$line-height-body: 24px;
$text-color-body: $color-default;
$bg-color-body: #EEEFF2;

/* Header */

/* Logo */

/* Input */

/* Buttons */

/* Columns */
$column-sidebar: 268px;
$column-content: calc(100% - 268px);

/* Width */
$page-max-width: 1440px;

/* Breakpoints */
$small: 375px;
$medium: 768px;
$large: 1200px;
