// ======================================================
// Abstracts :: Variables
// ======================================================

/* Colors */
$color-primary: #272E35;
$color-secondary: #FFFFFF;
$color-tertiary: #6E757C;
$color-default: $color-primary;
$color-loading: #FF6E30;
$color-danger: #DC3545;

/* Background Colors */
$bg-color-primary: #FF6E30;

/* Background Size */

/* Border Colors */
$border-disabled: rgba(196, 196, 196, 0.3);

/* Box-Shadow */

/* Font-Family */
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$default-family: $font-primary;
$secondary-family: $font-secondary;

/* Font-Size */
$text-xs: 12px;
$text-sm: 13px;
$text-md: 16px;
$text-lg: 24px;
$text-xl: 32px;
$text-xxl: 48px;
$text-xxxl: 72px;

/* Font-Weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* Body */
$font-family-body: $default-family;
$text-size-body: $text-md;
$font-weight-body: $font-weight-regular;
$line-height-body: 24px;
$text-color-body: $color-default;
$bg-color-body: #EEEFF2;

/* Header */

/* Logo */

/* Input */

/* Buttons */
$color-btn-primary: $color-secondary;
$color-btn-secondary: $color-default;
$bg-color-btn-primary: $bg-color-primary;
$bg-color-btn-secondary: transparent;
$line-height-btn-primary: 24px;

/* Testimonial */

/* Hero */

/* Schedule */

/* Instant Setup */

/* Amazing Feature */

/* History */

/* Core Value */

/* Integration */

/* Launch App */

/* Save Time */

/* Call To Action */

/* Footer */

/* Width */
$page-max-width: 1440px;

/* Breakpoints */
$small: 375px;
$medium: 768px;
$large: 1200px;
